<h2 class="sidebar-title">Popular posts</h2>
<div class="grid">
    {% for post in posts %}
        <div class="portfolio-item popular">
            {% if post.photo %}
                <img src="{{ post.photo.url }}" alt="{{ post.title }}" width="200">
            {% else %}
                <img src="https://i.picsum.photos/id/10/2500/1667.jpg?hmac=J04WWC_ebchx3WwzbM-Z4_KC_LeLBWr5LZMaAkWkF68" alt="{{ post.title }}" width="300">
            {% endif %}
            <div class="portfolio-text">
                <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                <p>{{ post.author }}<span>|</span>{{ post.created_at }}</p>
            </div>
        </div>
    {% endfor %}
</div>